{% extends 'admin_dashboard/dashboard_base.html' %}
{% load crispy_forms_tags %}
{% block dash_content %}
<div class="container my-5">
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Edit Coupon {{ coupon.code }} {{coupon.discount_percentage}}%</h2>
        <div>
            <a href="{% url 'admin_coupon_list' %}" class="btn btn-secondary">
                <i class="bi bi-arrow-left me-2"></i> Back to List
            </a>
        </div>
    </div>

    <!-- coupon Details and Form -->
    <div class="">
        <div class="row g-0">
            <!-- Form -->
            <div class="col">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <!-- Name -->

                        {{ update_form| crispy }}
                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-info">
                            <i class="bi bi-save me-2"></i> Update coupon
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
