{% extends 'admin_dashboard/dashboard_base.html' %}
{% block dash_content %}
<h2 class="mb-4">Dashboard</h2>
<div class="row">
    <!-- Total Revenue -->
    <div class="col-md-4 ms-auto card text-white bg-info h-100">
        <div class="card-body">
            <i class="bi bi-currency-dollar float-end fs-3"></i>
            <h6 class="card-title">Total Revenue</h6>
            <h3 class="card-text">€125,430.50</h3>
            <small>+12% from last month</small>
        </div>
    </div>
    <!-- Total Revenue -->
    <div class="col-md-4 ms-auto card text-white bg-info h-100">
        <div class="card-body">
            <i class="bi bi-currency-dollar float-end fs-3"></i>
            <h6 class="card-title">Total Revenue</h6>
            <h3 class="card-text">€125,430.50</h3>
            <small>+12% from last month</small>
        </div>
    </div>
    <!-- Total Revenue -->
    <div class="col-md-4 ms-auto card text-white bg-info h-100">
        <div class="card-body">
            <i class="bi bi-currency-dollar float-end fs-3"></i>
            <h6 class="card-title">Total Revenue</h6>
            <h3 class="card-text">€125,430.50</h3>
            <small>+12% from last month</small>
        </div>
    </div>
</div>
{% endblock dash_content %}
    