{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Item Summary</h1>
        <table class="table">
            <thead class="bg-info">
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                <tr class="row{% cycle '1' '2' %}">
                    <td>
                        <img src="{% if item.product.image %}{{ item.product.image.url }} {% else %}{% static " img/no_image.png" %}{% endif %}" class="order-summary-img" alt="{{item.product.name}}" >
                    </td>
                    <td>{{ item.product.name }}</td>
                    <td class="num">€{{ item.price }}</td>
                    <td class="num">{{ item.quantity }}</td>
                    <td class="num">€{{ item.get_cost|floatformat:2  }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h3>Total</h3>
        <table class="table table-striped mt-4">
            {% if request.session.coupon_code %}
            <tr class="total bg-info">
                <td colspan="4">Subtotal</td>
                <td class="num fw-bold">€{{ total.sub_total|floatformat:2 }}</td>
            </tr>
            <tr class="total">
                <td colspan="4">Discount</td>
                <td class="num fw-bold">€{{ total.discount|floatformat:2 }}</td>
            </tr>
            <tr class="total bg-info">
                <td colspan="4">Total</td>
                <td class="num fw-bold">€{{ total.total|floatformat:2 }}</td>
            </tr>
            {% else %}
            <tr class="total bg-info">
                <td colspan="4">Total</td>
                <td class="num fw-bold">€{{ total|floatformat:2 }}</td>
            </tr>
            {% endif %}
        </table>
        <form action="{% url 'process_payment' %}" method="post">
            <input type="submit" class="btn btn-info" value="Pay now">
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}
