{% extends 'layouts/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3"> <!-- Filter -->
            <form class="shop__filter">
                <!-- Price -->
                <h3 class="headline">
                    <span>Price</span>
                </h3>

                <form class="form-inline">
                    <label class="sr-only" for="inlineFormInputName2">From</label>
                    <input type="number" class="form-control mb-2 mr-sm-2" name="from_price" id="inlineFormInputName2"
                        placeholder="Start Price" min="10">
                    <label class="sr-only" for="inlineFormInputGroupUsername2">To:</label>
                    <div class="input-group mb-2 mr-sm-2">
                        <input type="number" class="form-control" name="to_price" id="inlineFormInputGroupUsername2"
                            placeholder="End Price" max="10000">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2 mt-2">Go</button>
                </form>


                <!-- Checkboxes -->
                <div class="mt-4">
                    <h3 class="headline">
                        <span>Categories</span>
                    </h3>

                    {% for category in categories %}
                    <div class="checkbox">
                        <a href="{% url 'product_list' %}?category_id={{category.id}}"
                            class="mt-4">{{category.name}}</a>
                    </div>
                    <br>
                    {% endfor %}
                </div>


                <!-- Radios -->
            </form>
        </div>

        <div class="col-sm-8 col-md-9">
            <div class="d-flex flex-wrap justify-content-start gap-3">

                {% if products %}
                {% for product in products %}
                <div class="card product-list-item">
                    <div class="img-container">
                        <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}">
                    </div>
                    <div class="card-body">
                        <small class="card-title fw-bold">{{product.name|slice:":25"}}</small>
                        <p>€ {{product.price}}</p>
                        <div class="d-flex justify-content-between">
                            <form action="{% url 'add_to_basket_product' product.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{product.id}}">
                                <button type="submit" class="btn btn-info btn-sm cartbtn">Add to Basket</button>
                            </form>
                            <a href="{% url 'product_detail' slug=product.slug%}" class="btn btn-dark btn-sm">View
                                Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>There are no products</p>
                {% endif %}
            </div>


            <!-- Pagination -->
            <div class="row">
                <div class="col-sm-12">
                    {% include 'includes/pagination.html' %}
                </div>
            </div> <!-- / .row -->

        </div> <!-- / .col-sm-8 -->
    </div> <!-- / .row -->
</div>
{% endblock content %}
